#queryBox {
	margin: 0.5em 0 0.5em 1em;
}

#jstree {
	overflow: auto;
	height: 660px;
	padding: 0rem;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	font-size: 80%;
}

#cy {
	height: 550px;
	border: 1px solid #337ab7;
	border-radius: 4px;
}

#status {
	height: 30px;
	//border: 1px solid #337ab7;
	//background-color: white;
	color: #337ab7;
	font-size: 80%;
	border-radius: 4px;
	margin: 0.5em 0 0 0;
	padding: 0.3em;
}

#title {
	height: 65px;
	font-size: 30px;
	font-weight: bold;
}

.infobox {
    border: 1px solid #337ab7;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.3em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
}

.labels {
	background-color: white;
	border: 1px solid #337ab7;
}

.btn-tool {
	width: 80px;
	display: inline-block;
}

.btn-pvalue {
	width: 120px;
	display: inline-block;
}

.label-legenda {
	width: 90px;
	display: inline-block;
}

.cancer {
	background-color: #d6e2f6;
}

.pathway {
	background-color: #c0890c;
}

.protein {
	background-color: #afc5e4;
}

.gene {
	background-color: #bba7c6;
}

.interaction {
	background-color: #bedfb1;
}

.mirnamature {
	background-color: #f09693;
}

.mirna {
	background-color: #f7cecc;
}

.mirnasnp {
	background-color: #eaca9e;
}

.go {
	background-color: #ffeebb;
}

pre {
	background-color: white;
	border: 0;
	padding: 0;
	margin: 0;
}